<header>
    <div id="codeial-logo"> <h1> Codeial </h1></div>
    <div class="navigation-icon">

    <ul type="none">
        <% if(locals.user){ %>
            <div class="icon-container"><li><a href="/users/profile"> <%= user.name %> </a></li> </div>
            
           <div class="icon-container"> <li> <a href="/users/sign-out">Sign Out</a></li> </div>
            <%} else { %>
                
                <div class="icon-container"><li> <a href="/users/user-signin">Sign In</a></li> </div>
                <div class="icon-container"> <li><a href="/users/user-signup">Sign Up</a></li> </div>
                <% } %>

    </ul>
</div>
    
</header>