
       <link rel="stylesheet" href="/css/users.css">
       <h1>Users View <% title %> is online now. So, Have a look over it. Thank you</h1>
       <p> <%= profile_user.name %></p>
       <p> <%= profile_user.email %></p>
        