<link rel="stylesheet" href="<%= assetPath('css/user_signin.css')%>">
<h1 id="signIn_heading">
    User Sign In
</h1>
<div class="signIn_container">
    <form action="/users/create-session" method="POST">
        <div id="email_container"><input type="email" name="email" placeholder="Enter email"></div>
        <div id="password_container"><input type="password" name="password" placeholder="Enter password"></div>
        <input type="submit" name="submit" value="Sign In" id="submit_button">
    </form>


<p>
    <a href="/users/auth/google" id="googleAuth_signIn">Google Signin/Sign-out</a>
</p>
</div>