<h1>
    Sign Up
</h1>
<form action="/users/create" method="POST">
<input type="text" name="name" placeholder="Enter Name">
<input type="email" name="email" placeholder="Enter Email">
<input type="password" name="password" placeholder="Enter Password">
<input type="password" name="confirm_password" placeholder="Enter password again">
<input type="submit" name="submit" value="Create Account">


</form>
<p>
    <a href="/users/auth/google">Google Signin/Sign-out</a>
</p>