<h1>
    User Sign In
</h1>
<form action="/users/create-session" method="POSt">
    <input type="email" name="email" placeholder="Enter email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="button" name="submit" value="Sign In" >
</form>
