
       <link rel="stylesheet" href="/css/users.css">
       <h1>Users View <% title %> is online now. So, Have a look over it. Thank you</h1>
       <p> <%= user.name %></p>
       <p> <%= user.email %></p>
        