.post-comments{
    .like-button:link{
        color:pink;
    }
    .like-button:visited{
        color:pink;
    }
    .like-button:hover{
        color:pink;
    }
    .link-button:active{
        color:pink;
    }
}