#home-container {
  display: flex;
  min-height: 90%; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #friends-container {
    border-left: 1px solid grey; }
    #home-container #friends-container #user-friends {
      width: 30%;
      padding: 10px;
      height: inherit; }
    #home-container #friends-container #chatbox-section {
      position: fix; }
